<div class="jumbotron">
  <h1>Yo-Da</h1>
  <p class="lead">Please log in to use our services</p>
  <a class="btn btn-primary btn-large" href="{{hotmailSignInUrl}}">Login with Hotmail</a>
  <a class="btn btn-primary btn-large" href="{{googleSignInUrl}}">Login with Google</a>  
</div>