<h2>Companies that have your data</h2>
<table class="table">
  <thead class="thead-light">
    <th scope="col">From Email</th>
    <th scope="col">From Name</th>
    <th scope="col">Received</th>

  </thead>
  {{domainNames}}
  <tbody>
    {{#each domainNames}}
      <tr>
        <td>{{this}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
